$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*
 *Colors
 */
$primary-pink    : #E61052;
$white           : #FFF;
$bg-brown        : #EAE2D7;
$primary-gray    : #2A1F0F;
$font-brown      : #97866F;
$bg-footer-brown : #C9BBA9;


/*
 *Typography
 */
$base-font: Arial, sans-serif;


/*
 *Base
 */
body {
  padding: 0;

  font-family: $base-font;
  color: $font-brown;
  background: $bg-brown;
}

a {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}


/*
 *NAV
 */
@media screen and (max-width: 1200px) {
  .collapse.navbar-collapse {
    display: none !important;
  }
}

@mixin nav-tab() {
  &:hover, &:focus, &:active {
    color: $white;
    background: $primary-gray !important;
    outline: none;
  }

  &.active {
    background: $primary-gray;
  }
}

.navbar {
  margin-bottom: 40px;
}

.navbar-nav-static {

}

.nav-tab {
  @include nav-tab();

  width: 190px;
  padding: 0;
  background-color: #e61052;
  background-image: url("/images/dot_separator.png") bottom right; 
  float:none;

  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    a {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    a {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

}

.nav-tab-link {
  @include nav-tab();

  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: $white;
}

/*
 *BRAND
 */
.nav-brand-box {
  margin-top: 40px;
}

.nav-brand-logo {
  display: inline-block;

  width: 38%;

  margin-left: 40px;
  margin-bottom: 40px;
}

.nav-brand-banner {
  display: inline-block;

  margin-bottom: 40px;
}

.nav-search-box {
  display: inline-block;

  margin: 12px;

  .search-keyword-input {
    width: 250px;

    border: 0;
    border-radius: 12px;
    padding: 7px;

    font-size: 13px;
  }

  .search-btn {
    margin-left: 6px;
    border-radius: 12px;

    color: $white;
    font-weight: 600;
    font-size: 13px;

    background-color: $primary-pink;
  }
}


/*
 *FOOTER
 */

.footer {
  padding: 40px 0;
  background-color: $bg-footer-brown;

  .site-map {
    padding: 0;
  }

  .site-map-link {
    float: left;
    width: 120px;
    padding: 0 15px;

    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    color: $font-brown;
    text-align: center;

    &:first-child {
      padding: 0;
    }
  }
}

/*
 *SIDECALLOUT
 */
@mixin hover-link() {
  &:hover, &:focus, &:active {
    background: $primary-gray !important;
    outline: none;

    a {
      font-size: 13px;
      color: $white;
    }
  }
}

.side-callout {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

  background-color: $white;

  .callout-header {
    padding: 0;
    margin: 0 0 10px 0;

    font-size: 15px;
    font-weight: 600;
    color: $primary-pink;
  }

  .callout-link-group, .callout-text-group {
    padding: 0;
  }

  .callout-link {
    @include hover-link();

    padding: 5px 0;

    a {
      font-size: 13px;
      color: $font-brown;
    }
  }

  .callout-text {
    padding: 5px 0;

    font-size: 13px;
  }
}

/*
 *HEADLINE
 */

.headline {
  margin: 0 0 0 20px;
}

.headline-description {
  font-size: 13px;
}

.headline-description.lead {
  margin: 35px 0 5px 0;
  font-size: 13px;
  font-weight: 600;

  color: $primary-pink;
}

.headline-image {

}


