$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*
 *Colors
 */
$primary-pink    : #E61052;
$white           : #FFF;
$bg-brown        : #EAE2D7;
$primary-gray    : #2A1F0F;
$font-brown      : #97866F;
$bg-footer-brown : #C9BBA9;
$gallery-brown   : #C9BBA9;
$border-brown    : #EAE1D4;
$border-gray     : #D6C5AA;

/*
 *Typography
 */
$base-font: Arial, sans-serif;

/*
 *Base
 */
body {
  padding: 0;

  font-family: $base-font;
  color: $font-brown;
  background: $bg-brown;
}

a {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}


/*
 *RESPONSIVE
 */
@media screen and (max-width: 1200px) {
  .navbar-toggle {
    display: block !important;
  }

  .navbar-fullwidth {
    display: none !important;
  }

  .features {
    border-radius: 10px !important;
  }

  .feature-right {
    padding-left: 20px !important;
  }

  .feature-header {
    display: none !important;
  }

  .side-callouts {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .gallery-arrow-wrapper.left, .gallery-arrow-wrapper.right {
    display: none !important;
  }

  .gallery {
    background-color: unset !important;
  }

  .gallery-wrapper {
    background-color: $gallery-brown !important;
    border-radius: 10px;
  }

  .gallery-arrow-wrapper.up {
    display: inline-block !important;
    position: relative;
    left: 45%;
    top: -30px;
  }

  .gallery-arrow-wrapper.down {
    display: inline-block !important;
    position: relative;
    left: 65%;
    top: -30px;
  }
}

/*
 *COLLAPSE NAVBAR
 */
.menu-button {
  margin: 20px;
}

.menu-text {
  color: $primary-pink;
}

.navbar-collapse {
  display: none;
}

.nav-tab-link-collapsed {
  color: $primary-pink;

  &:hover, &:active, &:focus {
    color: $white;
    background: $primary-gray !important;
  }
}

.nav-tab-link-collapsed.active {
  background: $primary-gray !important;
  color: $white;
}


/*
 *FULLWIDTH NAVBAR
 */

@mixin nav-tab() {
  &:hover, &:focus, &:active {
    color: $white;
    background: $primary-gray !important;
    outline: none;
  }

  &.active {
    background: $primary-gray;
  }
}

.nav-tab {
  @include nav-tab();

  width: 190px;
  padding: 0;
  background-color: $primary-pink;
  background-image: url("/images/dot_separator.png"); 
  background-repeat: repeat-y;
  float:none;

  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    a {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    a {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

}

.nav-tab-link {
  @include nav-tab();

  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: $white;
}

/*
 *BRAND
 */

.nav-brand-box {
  margin-top: 40px;
}

.nav-brand-logo {
  display: inline-block;

  width: 38%;

  margin-left: 40px;
  margin-bottom: 40px;
}

.nav-brand-banner {
  display: inline-block;

  border: 1px solid $border-gray;
  margin-bottom: 40px;
}


.nav-search-box-callapsed {
  .search-keyword-input {
    width: 100%;

    border: 0;
    border-radius: 12px;
    padding: 7px;

    font-size: 13px;
  }

  .search-btn {
    width: 100%;

    margin-top: 10px;
    border-radius: 12px;

    color: $white;
    font-weight: 600;
    font-size: 13px;

    background-color: $primary-pink;
  }
}

.nav-search-box {
  display: inline-block;

  margin: 12px;
  .search-keyword-input {
    width: 250px;

    border: 0;
    border-radius: 12px;
    padding: 7px;

    font-size: 13px;
  }

  .search-btn {
    margin-left: 6px;
    border-radius: 12px;

    color: $white;
    font-weight: 600;
    font-size: 13px;

    background-color: $primary-pink;
  }
}


/*
 *FOOTER
 */

.footer {
  padding: 40px 0;
  background-color: $bg-footer-brown;
  margin-top: 40px;

  .site-map {
    padding: 0;
  }

  .site-map-link {
    float: left;
    width: 120px;
    padding: 0 15px;

    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    color: $font-brown;
    text-align: center;

    &:first-child {
      padding: 0;
    }
  }
}

/*
 *SIDECALLOUT
 */
@mixin hover-link() {
  &:hover, &:focus, &:active {
    outline: none;

    a {
      font-size: 13px;
      text-decoration: underline;
    }
  }
}

.side-callouts {
  margin: 20px 0;
}

.side-callout {
  margin-bottom: 20px;

  border-radius: 10px;
  background-color: $white;
}

.callout-header {
  padding: 20px;
  margin: 0 0 10px 0;

  background-image: url("/images/dot_separator_horizontal.png"); 
  background-repeat: repeat-x;
  background-position: right bottom;

  font-size: 15px;
  font-weight: 600;
  color: $primary-pink;
}

.social-media, .randomly-selected, .where-u-can-find-us {
  padding: 5px 20px 20px;
}

.callout-link-group, .callout-text-group {
  padding: 0;
}

.callout-social-link-group {
  padding: 0 0 20px 0;
}

.callout-social-link {
  float: left;
  padding: 5px 0;
  margin-right: 32px;

  a {
    font-size: 13px;
    color: $font-brown;
  }
}

.callout-link {
  @include hover-link();

  padding: 5px 0;

  a {
    font-size: 13px;
    color: $font-brown;
  }
}

.callout-text {
  padding: 5px 0;

  font-size: 13px;
}

/*
 *HEADLINE
 */

.headline {
  padding: 20px 0 0 0;
}

.headline-description {
  font-size: 13px;
}

.headline-description.lead {
  margin: 35px 0 5px 0;
  font-size: 13px;
  font-weight: 600;

  color: $primary-pink;
}

/*
 *FEATURE
 */

.feature-header {

}

.feature-header-title {
  padding: 10px 20px;
  font-weight: 600;
  color: $white;
}

.feature-section-left {
  border-top-left-radius: 10px;
  background-color: $primary-pink;

  background-image: url("/images/dot_separator.png"); 
  background-repeat: repeat-y;
  background-position: right; 
}

.feature-section-right {
  border-top-right-radius: 10px;
  background-color: $primary-pink;
}

.feature-separator {
  background-image: url("/images/dot_separator_2.png");
  background-position: right center;
  background-repeat: repeat-y;
}

.features {
  padding: 0 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: $white;

  h5 {
    color: $primary-gray;
    font-weight: 600;
  }

}

.feature-right {
  padding-left: 35px;
}

.feature-link {
  color: $primary-pink;
}

.feature-1, .feature-2, .feature-3, .feature-4 {
  min-height: 235px;
}

.feature-1, .feature-3 {
  padding-top: 40px;
}

.feature-image {
  border: 1px solid $border-brown;
}

/*
 *ICONS
 */

span.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-twitter, .icon-facebook, .icon-arrow-pink, .icon-arrow-gray, .icon-google-plus{
  background-image: url("/images/sprites.png");
}

.icon-arrow-pink {
  width: 16px;
  height: 16px;

  margin-left: 8px;
  background-position: -45px -2px ;
}

.icon-arrow-gray {
  width: 16px;
  height: 16px;

  margin-right: 8px;
  background-position: 0 -2px ;
}

.icon-facebook {
  width: 22px;
  height: 22px;

  background-position: -145px 0;
}

.icon-twitter {
  width: 22px;
  height: 22px;

  background-position: -95px 0;
}

.icon-google-plus {
  width: 22px;
  height: 22px;

  background-position: -196px 0;
}

/*
 *GALLERY
 */

.gallery-wrapper {
  margin-bottom: 40px;
}

.gallery {
  padding: 0;
  margin: 0;

  min-height: 170px;
  border-radius: 10px;
  background-color: $gallery-brown ;
}

.gallery-entry {
  float: left;
  padding: 20px;

  img {
    border-radius: 10px;
  }
}

.gallery-arrow-wrapper.left {
  position: relative;
  top: 55px;
  left: -18px;
  cursor: pointer;

  float: left;
}

.gallery-arrow-wrapper.right {
  position: relative;
  top: 55px;
  right: -690px;
  cursor: pointer;

  float: left;
}

.gallery-arrow-wrapper {
  display: inline-block;

  padding: 20px 16px;
  border-radius: 10px;

  font-weight: 600;
  font-size: 14px;

  a {
    color: $white;
  }

  background-color: $primary-pink;
}

.gallery-arrow-wrapper.up {
  display: none;
  cursor: pointer;
}

.gallery-arrow-wrapper.down {
  display: none;
  cursor: pointer;
}
