$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*
 *Colors
 */
$primary-pink : #E61052;
$white        : #FFF;
$bg-brown     : #EAE2D7;
$primary-gray: #2A1F0F;
$font-brown:  #97866F;


/*
 *Typography
 */
$base-font: Arial, sans-serif;


/*
 *Base
 */
body {
  padding: 0;

  font-family: $base-font;
  color: $font-brown;
  background: $bg-brown;
}

a {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}


/*
 *NAV
 */
@mixin nav-tab() {
  &:hover, &:focus, &:active {
    color: $white;
    background: $primary-gray !important;
    outline: none;
  }

  &.active {
    background: $primary-gray;
  }
}

.nav-tab {
  @include nav-tab();

  width: 185px;
  padding: 0;
  background-color: #e61052;
  background-image: url("/images/dot_separator.png") bottom right; 

  &:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    a {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    a {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

}

.nav-tab-link {
  @include nav-tab();

  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: $white;
}

/*
 *Brand
 */
.nav-brand-box {
  margin-top: 40px;
}

.nav-brand-logo {
  display: inline-block;

  width: 33%;

  margin-left: 40px;
  margin-bottom: 40px;
}

.nav-brand-banner {
  display: inline-block;

  width: 33%;

  margin-bottom: 40px;
}

.nav-search-box {
  display: inline-block;

  margin-top: 12px;

  .search-keyword-input {
    width: 250px;

    border: 0;
    border-radius: 12px;
    padding: 7px;

    font-size: 13px;
  }

  .search-btn {
    margin-left: 6px;
    border-radius: 12px;

    color: $white;
    font-weight: 600;
    font-size: 13px;

    background-color: $primary-pink;
  }
}

