<!doctype html>

<html class="no-js">

  <head>
    <meta charset="utf-8">
    <title>X-plosion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="plosionApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- -MainCtrl -->
    <div ng-controller="MainCtrl"> 
      <!-- -header -->
      <div class="header">
        <!-- -navbar -->
        <div class="navbar navbar-custom navbar-static-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed menu-button" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class='menu-text'> <strong>MENU </strong> </span>
            </button>

            <div class="container navbar-toggle">
              <div class="collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="nav-tab-collapsed active">
                    <a class='nav-tab-link-collapsed active' href="#/">HOME</a>
                  </li>
                  <li class="nav-tab-collapsed">
                    <a class='nav-tab-link-collapsed' href="#/">BLOG</a>
                  </li>
                  <li class="nav-tab-collapsed">
                    <a class='nav-tab-link-collapsed' href="#/">OUR PRODUCTS</a>
                  </li>
                  <li class="nav-tab-collapsed">
                    <a class='nav-tab-link-collapsed' href="#/">ABOUT US</a>
                  </li>
                  <li class="nav-tab-collapsed">
                    <a class='nav-tab-link-collapsed' href="#/">WHERE TO BUY</a>
                  </li>
                  <li class="nav-tab-collapsed">
                    <a class='nav-tab-link-collapsed' href="#/">CONTACT US</a>
                  </li>
                </ul>

                <div class='nav-search-box-callapsed' >
                  <form>
                    <input ng-model='keyword' class='search-keyword-input' type="text" placeholder="Search X-Plosion..." maxlength="120" size="21" name="keyword" >
                    <input ng-click='searchKeyword(keyword)' type="submit" class="search-btn btn" value="SEARCH">
                  </form>
                </div>

              </div>
            </div>
          </div>

          <!-- -container -->
          <div class="container">
            <div class="navbar-fullwidth">
              <!-- -brand -->
              <div class="nav-brand-box" >
                <div class='nav-brand-logo'>
                  <a href="#/">
                    <img src="images/headline_logo.png" alt="x-plosion-logo" height="56" width="179"> 
                  </a>
                </div>

                <div class='nav-brand-banner'> 
                  <a href="#/">
                    <img src="images/nav_brand_banner.png" alt="x-plosion-banner" height="63" width="241"> 
                  </a>
                </div>

                <div class='nav-search-box  pull-right'>
                  <form>
                    <input ng-model='keyword' class='search-keyword-input' type="text" placeholder="Search X-Plosion..." maxlength="120" size="21" name="keyword" >
                    <input ng-click='searchKeyword(keyword)' type="submit" class="search-btn btn" value="SEARCH">
                  </form>
                </div>
              </div>
              <!-- -end of brand -->
              <!-- -menu tabs -->
              <ul class="nav navbar-nav">
                <li class="nav-tab active">
                  <a class='nav-tab-link nav-tab-link-left active' href="#/">HOME</a>
                </li>
                <li class="nav-tab">
                  <a class='nav-tab-link' href="#/">BLOG</a>
                </li>
                <li class="nav-tab">
                  <a class='nav-tab-link' href="#/">OUR PRODUCTS</a>
                </li>
                <li class="nav-tab">
                  <a class='nav-tab-link' href="#/">ABOUT US</a>
                </li>
                <li class="nav-tab">
                  <a class='nav-tab-link' href="#/">WHERE TO BUY</a>
                </li>
                <li class="nav-tab">
                  <a class='nav-tab-link nav-tab-link-left' href="#/">CONTACT US</a>
                </li>
              </ul>
              <!-- -end of menu tabs -->
            </div>
          </div>
          <!-- -container -->
        </div>
        <!-- -end of navbar -->
      </div>
      <!-- -end of header -->

      <div class="container">
        <div class='row'>
          <div class='col-lg-8'> 
            <!-- -headline -->
            <div class="headline row">
              <div class='col-lg-6'>
                <a href="#/">
                  <img src="images/headline_logo.png" alt="x-plosion-logo" width="323" height="125"> 
                </a>

                <p class='headline-description lead'>
                  Try a healthy alternative to the current artificial drinks - you mind,
                  body and tongue will tank you!
                </p>

                <p class='headline-description'>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Nulla auctor rutrum nisl, eu consequat eros consequat ac. 
                  Quisque interdum, odio a iaculis sodales, arcu mi rhoncus diam, 
                  sed feugiat tellus turpis id dolor. 
                  Mauris porttitor dolor sed vestibulum rhoncus. 
                  Integer lacinia vulputate mauris, in pellentesque turpis volutpat vitae. 
                  Morbi metus nisl, porttitor eget tincidunt sed, sollicitudin quis erat. 
                  Nulla suscipit, lectus ac pharetra sagittis, ante diam faucibus orci, ac laoreet diam augue id ipsum. 
                  Nullam elementum ipsum ut finibus lacinia. 
                  Ut tristique massa vitae sollicitudin lacinia. 
                </p>
              </div>

              <div class='col-lg-6'> 
                <img class='headline-image' src="images/headline_product.png" alt="x-plosion-product"> 
              </div> 
            </div>
            <!-- -end of headline-->

            <!-- -gallery -->
            <div class="gallery-wrapper row">
              <div class='col-lg-12'>
                <div class='gallery-arrow-wrapper left' ng-click='goUp()'>
                  <div class='gallery-left-arrow'> <a herf='#'> &lt; </a> </div>
                </div>

                <div class='gallery-arrow-wrapper right' ng-click='goDown()'>
                  <div class='gallery-right-arrow'> <a herf='#'> &gt; </a></div>
                </div>

                <div class='gallery-arrow-wrapper up'>
                  <div class='gallery-left-arrow'> <a herf='#' ng-click='goUp()'> UP </a> </div>
                  <div class='gallery-left-arrow'> <a herf='#' ng-click='goDown()'> DOWN  </a> </div>
                </div>

                <ul class='gallery'>
                  <li class='gallery-entry'  ng-repeat='image in galleryImages'>
                    <img class='gallery-img' ng-src="{{ image }}" alt="x-plosion-logo"> 
                  </li>
                </ul>

              </div>
            </div>
            <!-- -end of gallery -->

            <!-- -features -->
            <div class="row feature-header">
              <div class='col-lg-6 feature-section-left'>
                <h4 class='feature-header-title'>X-PLOSION PRODUCTS</h4>
              </div>

              <div class='col-lg-6 feature-section-right'>
                <h4 class='feature-header-title'>X-PLOSION EXPANSION</h4>
              </div>
            </div>

            <div class="row features">
              <!-- -left features -->
              <div class='col-lg-6 feature-separator'>

                <div class='feature-1'>
                  <div class="row">
                    <h5>We say NO to artficial flavors</h5>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-12">
                      <img class='feature-image' src="images/feature_product.png" alt="x-plosion-product"> 
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                      </p>
                      <p> <a class='feature-link' href="#/">More <span class='icon icon-arrow-pink'></span></a> </p>
                    </div>
                  </div>
                </div>

                <div class='feature-2'>
                  <div class=row>
                    <h5>New flavour added</h5>
                  </div>

                  <div class=row>
                    <div class="col-lg-4 col-md-12">
                      <img class='feature-image' src="images/feature_green_flavour.png" alt="x-plosion-product"> 
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                      </p>
                      <p> <a class='feature-link' href="#/">More <span class='icon icon-arrow-pink'></span></a> </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- -end of left features -->

              <!-- -right feature -->
              <div class='col-lg-6 feature-right'>
                <div class='feature-3'>
                  <div class="row">
                    <h5>X-Plosion is a hit in Japan</h5>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-12">
                      <img class='feature-image' src="images/feature_japan.png" alt="x-plosion-product"> 
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                      </p>
                      <p> <a class='feature-link' href="#/">More <span class='icon icon-arrow-pink'></span></a> </p>
                    </div>
                  </div>
                </div>

                <div class='feature-4'>
                  <div class="row">
                    <h5>Danish elder hooked on X-Plosion</h5>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-12">
                      <img class='feature-image' src="images/feature_elder_man.png" alt="x-plosion-product"> 
                    </div>

                    <div class="col-lg-6 col-md-12">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                      </p>
                      <p> <a class='feature-link' href="#/">More <span class='icon icon-arrow-pink'></span></a> </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- -end of right feature -->
            </div>
            <!-- -end of features -->
          </div>

          <!-- -callout -->
          <div class='col-lg-4 side-callouts'> 
            <div class='side-callout'>
              <div class='callout-header'>
                FOLLOW US 
              </div>

              <div class='social-media'>
                <ul class='callout-social-link-group'>
                  <li class='callout-social-link'> 
                    <a href="#/"> <span class='icon icon-facebook'></span> Facebook</a> 
                  </li>
                  <li class='callout-social-link'> 
                    <a href="#/"> <span class='icon icon-twitter'></span> Twitter</a> 
                  </li>
                  <li class='callout-social-link'> 
                    <a href="#/"> <span class='icon icon-google-plus'></span> Google+</a> 
                  </li>
                </ul> 
              </div>
            </div>

            <div class='side-callout'>
              <div class='callout-header'>
                RANDOMLY SELECTED 
              </div>

              <div class='randomly-selected'>
                <ul class='callout-link-group'>
                  <li class='callout-link'> 
                    <a href="#/"> <span class='icon icon-arrow-gray'></span> X-Plosion is a hit in Japan</a> 
                  </li>
                  <li class='callout-link'> 
                    <a href="#/"> <span class='icon icon-arrow-gray'></span> 3 new flavors added</a> 
                  </li>
                  <li class='callout-link'> 
                    <a href="#/"> <span class='icon icon-arrow-gray'></span> Check our new promo at Youtube</a> 
                  </li>
                  <li class='callout-link'> 
                    <a href="#/"> <span class='icon icon-arrow-gray'></span> We say NO to artificial flavours</a> 
                  </li>
                  <li class='callout-link'> 
                    <a href="#/"> <span class='icon icon-arrow-gray'></span> X-Plosion and your health</a> 
                  </li>
                </ul> 
              </div>
            </div>

            <div class='side-callout'>
              <div class='callout-header'>
                WHERE YOU CAN FIND US
              </div>

              <div class='where-u-can-find-us'>
                <ul class='callout-text-group'>
                  <li class='callout-text'> 
                    <strong> X-Plosion ltd </strong> 
                  </li>
                  <li class='callout-text'> 
                    9 Danbury Road
                  </li>
                  <li class='callout-text'> 
                    Wilton
                  </li>
                  <li class='callout-text'> 
                    CT 06897
                  </li>
                </ul> 
              </div>
            </div>
          </div>
          <!-- -end of callout -->
        </div>
      </div>

      <div class="footer">
        <div class="container">

          <div class='row'>
            <div class='col-lg-6 col-md-12'>
              <div class='copy-right'>
                &copy; Copyright 2011 X-Piosion Ltd.
              </div>
            </div>

            <div class='col-lg-6 col-md-12'>
              <ul class='site-map'>
                <li> <a class='site-map-link' href="#">FAQ</a> </li>
                <li> <a class='site-map-link' href="#">Terms</a> </li>
                <li> <a class='site-map-link' href="#">Privacy Policy</a> </li>
                <li> <a class='site-map-link' href="#">Contact Us</a> </li>
              </ul> 
            </div>
          </div>

        </div>
      </div>
    
    </div>
    <!-- -end of MainCtrl -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
  </body>

</html>
