<!-- -header -->
<div class="header">
  <!-- -navbar -->
  <div class="navbar navbar-custom navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- -container -->
    <div class="container">
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <!-- -brand -->
        <div class="nav-brand-box" >
          <div class='nav-brand-logo'>
            <a href="#/">
              <img src="/images/headline_logo.png" alt="x-plosion-logo" height="56" width="179"> 
            </a>
          </div>

          <div class='nav-brand-banner'> 
            <a href="#/">
              <img src="/images/nav_brand_banner.png" alt="x-plosion-banner" height="63" width="241"> 
            </a>
          </div>

          <div class='nav-search-box  pull-right'>
            <form action="#" method="post">
              <input class='search-keyword-input' type="text" placeholder="Search X-Plosion..." maxlength="120" size="21" name="keyword" >
              <input type="submit" class="search-btn btn" value="SEARCH">
            </form>
          </div>
        </div>
        <!-- -end of brand -->
        <!-- -menu tabs -->
        <ul class="nav navbar-nav">
          <li class="nav-tab active">
            <a class='nav-tab-link nav-tab-link-left' href="#/">HOME</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">BLOG</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">OUR PRODUCTS</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">ABOUT US</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">WHERE TO BUY</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link nav-tab-link-left' href="#/">CONTACT US</a>
          </li>
        </ul>
        <!-- -end of menu tabs -->
      </div>
      <!-- -end of collapse -->
    </div>
    <!-- -container -->
  </div>
  <!-- -end of navbar -->
</div>
<!-- -end of header -->

<div class="container">
  <div class='row'>
    <!-- -main -->
    <div class='col-lg-8'> 
      <div class="row">
        <div class='headline col-lg-6'>
          <a href="#/">
            <img src="/images/headline_logo.png" alt="x-plosion-logo" width="323" height="125"> 
          </a>

          <p class='headline-description lead'>
            Try a healthy alternative to the current artificial drinks - you mind,
            body and tongue will tank you!
          </p>

          <p class='headline-description'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla auctor rutrum nisl, eu consequat eros consequat ac. 
            Quisque interdum, odio a iaculis sodales, arcu mi rhoncus diam, 
            sed feugiat tellus turpis id dolor. 
            Mauris porttitor dolor sed vestibulum rhoncus. 
            Integer lacinia vulputate mauris, in pellentesque turpis volutpat vitae. 
            Morbi metus nisl, porttitor eget tincidunt sed, sollicitudin quis erat. 
            Nulla suscipit, lectus ac pharetra sagittis, ante diam faucibus orci, ac laoreet diam augue id ipsum. 
            Nullam elementum ipsum ut finibus lacinia. 
            Ut tristique massa vitae sollicitudin lacinia. 
          </p>
        </div>

        <div class='col-lg-6'> 
          <img class='headline-image' src="/images/headline_product.png" alt="x-plosion-product"> 
        </div> 
      </div>

      <div class="row features">
        <div class='col-lg-6'>
          <h4> X-PLOSION PRODUCTS </h4>

          <div class='feature-1'>
            Feature
          
          </div>

          <div class='feature-2'>
            Feature
          
          </div>
        
        </div>

        <div class='col-lg-6'>
          <h4>X-PLOSION EXPANSION</h4>

          <div class='feature-3'>
            Feature
          
          </div>

          <div class='feature-4'>
            Feature
          </div>
        </div>
      </div>
    </div>
    <!-- -end of main -->
    <!-- -callout -->
    <div class='col-lg-4'> 
      <div class='side-callout social-media'>
        <h3 class='callout-header'> FOLLOW US </h3>

        <ul class='callout-link-group'>
          <li class='callout-link'> 
            <a href="#/">Facebook</a> 
          </li>
          <li class='callout-link'> 
            <a href="#/">Twitter</a> 
          </li>
          <li class='callout-link'> 
            <a href="#/">Google+</a> 
          </li>
        </ul> 
      </div>

      <div class='side-callout randomly-selected'>
        <h3 class='callout-header'> RANDOMLY SELECTED </h3>

        <ul class='callout-link-group'>
          <li class='callout-link'> 
            <a href="#/">X-Plosion is a hit in Japan</a> 
          </li>
          <li class='callout-link'> 
            <a href="#/">3 new flavors added</a> 
          </li>
          <li class='callout-link'> 
            <a href="#/">Check our new promo at Youtube</a> 
          </li>
          <li class='callout-link'> 
            <a href="#/">We say NO to artificial flavours</a> 
          </li>
          <li class='callout-link'> 
            <a href="#/">X-Plosion and your health</a> 
          </li>
        </ul> 
      </div>

      <div class='side-callout where-u-can-find-us'>
        <h3 class='callout-header'>WHERE YOU CAN FIND US</h3>

        <ul class='callout-text-group'>
          <li class='callout-text'> 
            <strong> X-Plosion ltd </strong> 
          </li>
          <li class='callout-text'> 
            9 Danbury Road
          </li>
          <li class='callout-text'> 
            Wilton
          </li>
          <li class='callout-text'> 
            CT 06897
          </li>
        </ul> 
      </div>
    </div>
    <!-- -end of callout -->
  </div>
</div>

<div class="footer">
  <div class="container">

    <div class='row'>
      <div class='col-lg-6 col-md-12'>
        <div class='copy-right'>
          (c) Copyright 2011 X-Piosion Ltd.
        </div>
      </div>

      <div class='col-lg-6 col-md-12'>
        <ul class='site-map'>
          <li> <a class='site-map-link' href="#">FAQ</a> </li>
          <li> <a class='site-map-link' href="#">Terms</a> </li>
          <li> <a class='site-map-link' href="#">Privacy Policy</a> </li>
          <li> <a class='site-map-link' href="#">Contact Us</a> </li>
        </ul> 
      </div>
    </div>

  </div>
</div>
