<!-- -header -->
<div class="header">
  <!-- -navbar -->
  <div class="navbar navbar-custom" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- -container -->
    <div class="container">
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <!-- -brand -->
        <div class="nav-brand-box" >
          <div class='nav-brand-logo'>
            <a href="#/">
              <img src="/images/nav_brand_logo.png" alt="x-plosion-logo" height="56" width="179"> 
            </a>
          </div>

          <div class='nav-brand-banner'> 
            <a href="#/">
              <img src="/images/nav_brand_banner.png" alt="x-plosion-banner" height="63" width="241"> 
            </a>
          </div>

          <div class='nav-search-box  pull-right'>
            <form action="#" method="post">
              <input class='search-keyword-input' type="text" placeholder="Search X-Plosion..." maxlength="120" size="21" name="keyword" >
              <input type="submit" class="search-btn btn" value="SEARCH">
            </form>
          </div>
        </div>
        <!-- -end of brand -->
        <!-- -menu tabs -->
        <ul class="nav navbar-nav">
          <li class="nav-tab active">
            <a class='nav-tab-link nav-tab-link-left' href="#/">HOME</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">BLOG</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">OUR PRODUCTS</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">ABOUT US</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link' href="#/">WHERE TO BUY</a>
          </li>
          <li class="nav-tab">
            <a class='nav-tab-link nav-tab-link-left' href="#/">CONTACT US</a>
          </li>
        </ul>
        <!-- -end of menu tabs -->
      </div>
      <!-- -end of collapse -->
    </div>
    <!-- -container -->
  </div>
  <!-- -end of navbar -->
</div>
<!-- -end of header -->

<div class="container">

</div>

<div class="footer">
  <div class="container">

    <div class='row'>
      <div class='col-lg-6 col-md-12'>
        <div class='copy-right'>
          (c) Copyright 2011 X-Piosion Ltd.
        </div>
      </div>

      <div class='col-lg-6 col-md-12'>
        <ul class='site-map'>
          <li> <a class='site-map-link' href="#">FAQ</a> </li>
          <li> <a class='site-map-link' href="#">Terms</a> </li>
          <li> <a class='site-map-link' href="#">Privacy Policy</a> </li>
          <li> <a class='site-map-link' href="#">Contact Us</a> </li>
        </ul> 
      </div>
    </div>
  </div>
</div>
